body {
    background-image: url(https://www.teahub.io/photos/full/276-2766502_nazi-flag-wallpaper-nazizm-and-the-rise-of.jpg);
    background-repeat: no repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}